.chart__bar
    width 100%
    margin 0
    +mq('bp-4')
        max-width $column-width
        margin 0 auto

    .year
        display flex 
        flex-direction row 
        align-items baseline
        &__number 
            set-type-size('x-small')
            line-height 1.3
            font-family $national
            margin 0 0.5rem 0 0
            +mq('bp-2-5')
                set-type-size('small')
        &__barCont
            display flex 
            flex-direction row

#slide_15
    .chart__bar
        .bar 
            &--sexual
                background-color $kb-pink
            &--alcohol
                background-color $off-black 
            &--profanity
                background-color $kb-teal  
            &--violence
                background-color $kb-purple
            &--identity
                background-color $kb-blue
            &--other 
                background-color $gray-light 

#slide_14
    .chart__bar
        .bar
            background-color $off-black


.chart-labels
    width 100%
    margin 0.5rem 0 0 0
    display flex
    flex-direction row
    justify-content space-between
    +mq('bp-4')
        max-width $column-width
        margin 0.5rem auto 0 auto

    .right-label, .left-label
        display flex
        flex-direction row

        p
            margin 0
            padding 0   
            font-family $national 
            set-type-size('x-small')
            color $gray-dark
            +mq('bp-2-5')
                set-type-size('small')

        svg
            width 12px
            height 12px
            margin-top 3px
            stroke $gray
            +mq('bp-2-5')
                width 16px
                height 16px

    .right-label
        padding-right 0rem
        +mq('bp-2-5')
            padding-right 0.5rem

        svg
            margin-left 2px   

    .left-label
        padding-left 2.25rem
        +mq('bp-2-5')
            padding-left 2.5rem

        svg
            margin-right 2px               