.chart__bar
    .year
        display flex 
        flex-direction row 
        align-items baseline
        &__number 
            set-type-size('small')
            line-height 1.4
            font-family $national
            margin 0 0.5rem 0 0
        &__barCont
            display flex 
            flex-direction row

#slide_15
    .chart__bar
        .bar 
            &--sexual
                background-color $kb-pink
            &--alcohol
                background-color $off-black 
            &--profanity
                background-color $kb-teal  
            &--violence
                background-color $kb-purple
            &--identity
                background-color $kb-blue
            &--other 
                background-color $gray-light 

#slide_14
    .chart__bar
        .bar
            background-color $off-black