/* CUSTOM STORY STYLE */
#content
    background lighten($kb-teal, 10)
    width 100%
    height 100vh

#prompt
    display none
    flex-direction column
    width 100%
    height 25vh
    top 50vh
    align-items center
    justify-content flex-end
    position absolute
    z-index set-index('overlay')
    padding-bottom 2rem

    p
        font-family $national 
        set-type-size('small', true)
        margin 1rem 0 0 0
        padding 0
        opacity 0.5 

    &.is-visible
        display flex

    .pulse-container
        display flex
        width 5rem
        height 5rem
        align-items center
        justify-content center

        .bg-pulse
            animation pulse 1.2s ease infinite;
            background $white
            width 4.5rem
            height 4.5rem
            border-radius 50%
            position absolute


        .pulser
            display flex
            align-items center
            justify-content center
            position absolute
            width 4.5rem
            height 4.5rem
            border-radius 50%
            background $white
            cursor pointer
            box-shadow 4px 4px 10px rgba($off-black, 0.1)

            svg
                width 50%

#touch
    display flex
    position fixed
    left 0
    bottom 0
    flex-direction column
    width 100%
    height 25vh
    bottom 0rem
    align-items center
    justify-content flex-end
    //position absolute
    z-index 999
    padding-bottom 2rem
    +mq('bp-4')
        top 68vh

    .bottom-fade
        height 12rem
        position absolute
        bottom 0
        background linear-gradient(0deg, rgba($white, 1) 0%, rgba($white, 0.95) 50%, rgba($white, 0) 100%)
        width 100%  
        opacity 0
        display none
        pointer-events none

        &.is-visible
            opacity 1 
            display flex 

    .tapper
        display flex
        flex-direction row
        justify-content center
        z-index 999

        #left
            margin-right 2rem

            &.solo
                margin-right 0 

                button
                    width 15rem
                    border-radius 4rem

                    p
                        margin 0  
                        display block

                    svg
                        display none 

        #right
            margin-left 2rem   

            &.solo
                margin-left 0 

                button
                    width 15rem
                    border-radius 4rem

                    p
                        margin 0  
                        display block

                    svg
                        display none 

        #left, #right
            display none

            &.is-visible
                visibility visible
                opacity 1 
                display block 

            button
                width 4rem
                height 4rem
                border 2px solid $white 
                border-radius 50%
                text-align center  
                text-transform uppercase
                display flex
                justify-content center
                align-items center
                padding 1rem  
                font-family $national
                font-weight 700
                set-type-size('root', true)
                background rgba($white, 0.3) 
                box-shadow 4px 4px 10px rgba($off-black, 0.1)
                transition 0.25s ease-in-out
                
                p
                    margin 0 
                    display none
                    padding 0

                &:hover
                    background rgba($white, 1) 
                    transform translate(0, -10px)

                svg
                    width 2rem
                    height 2rem

    .directions 
        z-index 999               

        #skipper, #begin
            visibility hidden
            opacity 0
            font-family $national 
            set-type-size('small', true)
            margin 0.5rem 0 0 0
            padding 0
            opacity 0.5 
            display none

            &.is-visible
                visibility visible
                opacity 1
                display block

            &:hover
                font-weight 700
                text-decoration underline  
                opacity 1

#categories
    width 100%
    position absolute
    height 80vh
    display none
    flex-direction column
    justify-content flex-end
    visibility hidden
    overflow hidden
    opacity 0
    z-index set-index('overlay')
    align-content stretch
    bottom 0
    +mq('bp-4')
        max-width 40em
        left 50%
        height 60vh
        transform translateX(-50%)
        bottom 5rem

    &.is-visible
        visibility visible
        opacity 1
        display flex

    .category-bar    
        width 100%
        padding 0 1rem
        display flex
        flex-direction row 
        align-items center
        justify-content space-between 
        flex-grow 1
        p 
            margin 0

        &:hover

            p
                font-weight 700

            .button-wrapper
        
                button
                    transform translate(-1rem)  
                    transition 0.25s ease-in-out
                    background rgba($white, 1)

        .button-wrapper
            display flex
            flex-direction row
            align-items center
            justify-content center
            border-radius 50%
            width 3rem
            height 3rem

            p
                color $off-black
                font-family $national
                font-weight 500
                set-type-size('small', true) 
                margin 0   
                padding-right 1rem  
                display none
                visibility visible
                opacity 1  

                &.is-visible
                    display flex
                    visibility visible
                    opacity 1                        

        p
            color $off-black
            font-family $national
            //font-weight 700
            set-type-size('x-large', true)

        button
            width 3rem
            height 3rem
            border-radius 50%
            background rgba($white, 0.3)
            box-shadow 4px 4px 10px rgba($off-black, 0.1)
            display flex
            border 2px solid $white 
            flex-direction row
            align-items center
            justify-content center

        &.alcohol-bar 
            background $off-black 

            p
                color $white

        &.sexual-bar 
            background $kb-pink

        &.profanity-bar 
            background $kb-purple   

        &.violence-bar 
            background $kb-teal

        &.identity-bar 
            background $kb-blue

        &.other-bar 
            background $gray-light 

        &.back-bar

            p
                font-weight 500  
                color $gray 

            &:hover  

                p
                    font-weight 700   

                .button-wrapper

                    button
                        transform translate(1rem)
                        transition 0.25s ease-in-out;    


.quiz-details
    z-index set-index('overlay')
    display flex
    position absolute
    flex-direction row 
    width 100%
    justify-content flex-end
    opacity 0
    padding 2rem
    pointer-events none
    margin-top 0
    +mq('bp-4')
        max-width 40em
        left 50%
        margin-top 6rem
        transform translate(-50%, 50%)
        padding 6rem 2rem 2rem 2rem

    &.is-visible
       visibility visible
       opacity 1 
       pointer-events all 

    &.total
        justify-content center

        .song-count
            display none   

    .song-count
        set-type-size('small', true)
        line-height 1.5
        font-family $national
        margin 0
        padding 0
        text-align right

    .song-circles
        display flex
        flex-direction row

        .song-circle
            width 1.25rem
            height 1.25rem
            border-radius 50%
            border 2px solid rgba($white, 0.5)
            margin-left 0.25rem
            +mq('bp-4')
                width 1.5rem
                height 1.5rem
                margin-left 0.5rem

            &.is-correct
                border 2px solid rgba($kb-teal, 1) 
                background-color $kb-teal 
                background-image url('assets/images/check.png')
                background-repeat no-repeat
                background-size 0.75rem 0.75rem
                background-position center
                animation ampUp 0.3s ease 1
                +mq('bp-4')
                   background-size 1rem 1rem 

            &.is-wrong
                border 2px solid rgba($off-black, 1) 
                background-color $off-black
                background-image url('assets/images/x.png')
                background-repeat no-repeat
                background-size 0.75rem 0.75rem
                background-position center 
                animation ampUp 0.3s ease 1
                +mq('bp-4')
                   background-size 1rem 1rem                       

.slide
    width 100%
    height 100vh
    display flex
    flex-direction column
    padding 2rem
    position absolute
    opacity 0
    background $white
    pointer-events none
    +mq('bp-4')
        max-width 40em
        max-height 40em
        left 50%
        top 50%
        transform translate(-50%, -50%)
        margin 2rem 0
        height 80%
        width 80%
        box-shadow 4px 4px 10px rgba($off-black, 0.1)

    &.is-visible-slide
        visibility visible
        opacity 1
        pointer-events all


    &.gradient
        background linear-gradient(-45deg, $kb-teal 0%, $kb-purple 50%, $kb-pink 100%)

    .header
        width 100%
        display flex
        flex-direction row
        align-items flex-start

        .roundel
            width 50px
            height 50px
            background $off-black
            display flex
            align-items center
            justify-content center
            border-radius 50%
            box-shadow 4px 4px 10px rgba($off-black, 0.1)

            svg
                width 45%

                #leftP
                    fill $gray-light  

                #rightP
                    fill $white !important

                    path
                        fill $white !important

                    .st0
                        fill $white !important

    .title
        width 100%
        height 100vh
        display flex
        align-items center
        justify-content center
        flex-direction column 
        padding-top 5rem
        +mq('bp-4')
            padding-top 1rem

        h1
            set-type-size('xx-large', true)
            font-family $national
            font-weight 700
            margin 0

        .kb-logo
            width 100%
            display flex
            align-items center
            justify-content center

    .byline
        width 100%
        height 100vh
        display flex
        //align-items flex-end
        flex-direction row
        margin-top 3rem

        div
            width 50%

            a
                &:hover
                    opacity 0.5

            p
                margin 0   
                set-type-size('root', true)
                font-family $national

                &.bolded
                    font-weight 700

    .text-wrapper
        width 100%
        height 70vh
        display flex
        justify-content center
        flex-direction column
        margin-bottom 8rem
        +mq('bp-4')
            margin-bottom 4rem

        &.top
            justify-content flex-start
            height 7rem
            margin-top 0
            margin-bottom 2rem
            +mq('bp-4')
                margin-top 0

        a
            &:hover
                opacity 0.5       

        p    
            set-type-size('root', true)
            font-family $national
            margin 0 0 1rem 0
            +mq('bp-4')
                set-type-size('medium', true)

        .alcohol-span
            font-weight 700
            color $white
            background $off-black 
            padding 0 0.25rem 

        .sexual-span
            font-weight 700
            color $off-black
            background $kb-pink
            padding 0 0.25rem 

        .profanity-span
            font-weight 700
            color $off-black
            background $kb-purple
            padding 0 0.25rem 

        .violence-span
            font-weight 700
            color $off-black
            background $kb-teal
            padding 0 0.25rem 

        .identity-span
            font-weight 700
            color $off-black
            background $kb-blue
            padding 0 0.25rem 

        .other-span
            font-weight 700
            color $off-black
            background $gray
            padding 0 0.25rem                      

    .button-wrapper   
        width 100%
        display flex
        align-items flex-end
        justify-content center   

        button  
            width 12.5rem
            height 3.75rem
            border 2px solid $white 
            text-align center  
            text-transform uppercase
            padding 1rem  
            font-family $national
            font-weight 700
            set-type-size('root', true)
            background rgba($white, 0.3)  

            &:hover
                background rgba($white, 1) 

    .quiz-header
        display flex
        flex-direction row     
        justify-content space-between 
        padding-top 0
        +mq('bp-4')
            padding-top 4rem

        .song-details
            display flex
            flex-direction column  
            font-family $national 

            p
                margin 0
                padding 0
                set-type-size('small', true)
                line-height 1.5
                +mq('bp-4')
                    set-type-size('root', true)

            #artist
                text-transform uppercase
                font-weight 700               

    .lyric-wrapper
        width 100%
        height 70vh
        display flex
        justify-content flex-start
        flex-direction column
        margin-top 5rem

        p    
            set-type-size('xxx-large', true)
            line-height 1.25
            font-family $national
            font-weight 700 
            span 
                position relative
                background-color none 
                &.censored 
                    background-color $off-black
                &.hintSpan
                    background-color rgba($white, 0.5) 
                    //border-radius 0.5rem  
                    //padding 0 0.25rem
                    animation fadeBG 1.5s ease infinite
                    &::before
                        font-weight 500
                        set-type-size('small', true)
                        content 'Click on the words to censor'
                        background-image url('assets/images/touch.png')
                        background-repeat no-repeat
                        background-position 0% 40%
                        background-size 24px 24px 
                        position absolute
                        top -2rem
                        width 15rem
                        color $white
                        text-indent 1.65rem
                        //animation fadeHint 1.2s ease infinite
                        pointer-events none

    .compare-wrapper
        width 100%
        height 70vh
        display flex
        justify-content flex-start
        flex-direction column
        margin-top 1.5rem

        .quiz-feedback
            display flex
            justify-content center
            p   
                display inline-block
                set-type-size('small', true)
                font-family $national
                text-align center
                color $off-black
                margin 0 0 1.5rem 0


                &.slide-in
                    animation fadeInUp 0.3s ease

                &.is-correct
                    span
                        background-color $kb-teal 
                        color $off-black

                span
                    font-weight 700
                    background-color $off-black
                    color $white
                    padding 0 0.25rem 
                    set-type-size('medium', true)
                    +mq('bp-4')
                        set-type-size('large', true)

        .lyric-set
            background $white
            border 2px solid $off-black
            padding 1.5rem
            margin-bottom 1.5rem

            .lyric-head
                width 100%
                display flex
                flex-direction row
                justify-content space-between
                padding-bottom 1rem
                border-bottom 2px solid $off-black
                border-style dashed

                p
                    set-type-size('small', true)
                    font-family $national
                    font-weight 700
                    margin 0
                    padding-top 0
                    +mq('bp-4')
                        set-type-size('root', true)

                svg
                    stroke $gray    

            p
                set-type-size('large', true)
                font-family $national
                margin 0 
                padding-top 1rem 
                +mq('bp-4')
                    set-type-size('x-large', true)

            .origLyric
                span
                    background $off-black
                    font-weight 700     

            .kbLyric
                span
                    font-weight 700         

    .tap-directions
        width 100%
        display flex
        align-items center
        justify-content flex-end
        flex-direction column   

        .roundel
            width 50px
            height 50px
            border-radius 50%
            background rgba($white, 0.9)

        p
            set-type-size('small', true)
            font-family $national
            text-align center 

    .results-wrapper
        width 100%
        display flex
        flex-direction column
        align-items center 
        padding-top 4rem   

        .results-count
            font-family $national
            font-weight 700
            set-type-size('xxxx-large', true) 
            margin 0 

        .results-sentence
            font-family $national
            set-type-size('large', true)  
            margin 1rem 0   
            text-align center

#slide_18
    padding-bottom 0
    overflow scroll

    .after-text
        margin-bottom 3rem    

    .dropdown-text
        p
            set-type-size('root', true)
            font-family $national
            margin 0 
            +mq('bp-4')
                set-type-size('large', true)

            .alcohol-sent
                background-color $off-black
                color $white
                padding 0.25rem
                font-weight 700

            .sexual-sent
                background-color $kb-pink
                padding 0.25rem
                font-weight 700

            .profanity-sent
                background-color $kb-purple
                padding 0.25rem
                font-weight 700 

            .violence-sent
                background-color $kb-green
                padding 0.25rem
                font-weight 700   

            .identity-sent
                background-color $kb-teal
                padding 0.25rem
                font-weight 700  

            .other-sent
                background-color $gray
                padding 0.25rem
                font-weight 700                         

    .dropdown
        width 100%

        .dropdown-group
            position relative
            width 100%
            margin 0.5rem auto
            height 3.5rem
            display flex
            justify-content center
            cursor pointer 

            select
                width 100%
                border 0
                background-color transparent
                set-type-size('large', true)
                font-family $national
                font-weight 700
                color $off-black
                border-radius none
                height 3.5rem
                position absolute
                cursor pointer
                appearance none
                text-indent 1rem
                background-image url('assets/images/arrow.png')
                background-repeat no-repeat
                background-position 95% 50%
                background-size 20px 20px  

            .select-bg
                position absolute
                border 2px solid $white
                background-color rgba($white, 0.3)
                width 100%
                height 3.5rem    
                box-shadow 4px 4px 10px rgba($off-black, 0.1)    

    .compare-wrapper
        justify-content flex-start
        margin 0 0 15rem 0

        .lyric-set:last-child
            margin-bottom 10rem

        .lyric-head

            .deets

                p
                    line-height 1.25
                    font-weight 500     

                .song
                    font-weight 700 

        .toggle
            display flex
            flex-direction row 

            p
                font-weight 500
                set-type-size('small', true)
                color $gray
                width 3.75rem

            .toggle-og
                width 3rem    

            .toggle-on
                font-weight 700  
                color $off-black  

            .switch
                margin 0 0.25rem
                position relative
                width 2.5rem
                height 1.25 rem    

                input
                    opacity 0
                    width 0
                    height 0

                .slider
                    position absolute
                    cursor pointer
                    top 0
                    left 0
                    right 0
                    bottom 0
                    background-color $off-black
                    transition 0.4s
                    border-radius 1.25rem

                    &::before
                        position absolute
                        content ''
                        height 0.75rem
                        width 0.75rem
                        left 0.25rem
                        bottom 0.25rem
                        background-color $white
                        transition 0.4s
                        border-radius 50%
                        transform translateX(1.25rem) 

                input:focus + .slider
                    none

                input:checked + .slider:before
                    transform translateX(0)  


#slide_1

    svg
        width 65%
        margin 1rem 0
        animation popIn 0.3s ease-in-out
        animation-iteration-count 1
        //transform scale(0)
        
        .pathKB
            stroke-dashoffset 0
            stroke-dasharray 100%
            animation dash 1s linear
            animation-delay 0.3s
            opacity 1


.st0
    fill $white
            
@keyframes popIn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.75);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes dash {
  0% {
      stroke-dashoffset: 100%;
      opacity: 0
  }
  50% {
    stroke-dashoffset: 100%;
    opacity: 1
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1
  }
}


@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
    opacity: 0
    display: none
  }
  to {
    transform: translate3d(0, 0, 0)
    opacity: 1
    display: flex
  }
}


@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes fadeBG {
  0% {
    background-color: rgba($white, 0.2)
  }
  50% {
    background-color: rgba($white, 0.5)
  }
  100% {
    background-color: rgba($white, 0.2)
  }
}  

@keyframes ampUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}