/* CUSTOM STORY STYLE */
body
    //overflow hidden

#touch
    display flex
    flex-direction row
    width 100%
    height 100vh
    align-items flex-end
    justify-content center
    position absolute
    z-index set-index('overlay')
    padding-bottom 5rem

    #left
        margin-right 2rem

    #right
        margin-left 2rem   

        &.solo
            margin-left 0 

            button
                width 15rem
                border-radius 4.5rem

                p
                    margin 0  
                    display block

                svg
                    display none 

    #left, #right
        display none

        &.is-visible
            visibility visible
            opacity 1 
            display block 

        button
            width 4.5rem
            height 4.5rem
            border 2px solid $white 
            border-radius 50%
            text-align center  
            text-transform uppercase
            padding 1rem  
            font-family $national
            font-weight 700
            set-type-size('root', true)
            background rgba($white, 0.3) 
            
            p
                margin 0 
                display none

            &:hover
                background rgba($white, 1)  

            svg
                width 2rem
                height 2rem

.slide
    width 100%
    height 100vh
    display flex
    flex-direction column
    padding 2rem
    position absolute
    opacity 0

    &.is-visible-slide
        visibility visible
        opacity 1


    &.gradient
        background linear-gradient(-45deg, $kb-teal 0%, $kb-purple 50%, $kb-pink 100%)

    .header
        width 100%
        display flex
        flex-direction row
        align-items flex-start

        .roundel
            width 50px
            height 50px
            background $off-black
            display flex
            align-items center
            justify-content center
            border-radius 50%
            box-shadow 4px 4px 10px rgba($off-black, 0.1)

            svg
                width 45%

                #leftP
                    fill $gray-light  

                #rightP
                    fill $white  

    .title
        width 100%
        height 100vh
        display flex
        align-items center
        justify-content center
        flex-direction column 

        h1
            set-type-size('xx-large', true)
            font-family $national
            font-weight 700
            margin 0

        .kb-logo
            width 100%
            display flex
            align-items center
            justify-content center

            svg
                width 100%

    .byline
        width 100%
        height 100vh
        display flex
        align-items flex-end
        flex-direction row

        div
            width 50%

            p
                margin 0   
                set-type-size('root', true)
                font-family $national

                &.bolded
                    font-weight 700

    .text-wrapper
        width 100%
        height 100vh
        display flex
        justify-content center
        flex-direction column

        p    
            set-type-size('large', true)
            font-family $national

    .button-wrapper   
        width 100%
        display flex
        align-items flex-end
        justify-content center   

        button  
            width 12.5rem
            height 3.75rem
            border 2px solid $white 
            text-align center  
            text-transform uppercase
            padding 1rem  
            font-family $national
            font-weight 700
            set-type-size('root', true)
            background rgba($white, 0.3)  

            &:hover
                background rgba($white, 1)  

    .quiz-header
        display flex
        flex-direction row     
        justify-content space-between 

        .song-details
            display flex
            flex-direction column  
            font-family $national
            set-type-size('large', true)  

            p
                margin 0
                padding 0

            #artist
                text-transform uppercase
                font-weight 700   

        .quiz-details
            display flex
            flex-direction column  

            .song-count
                set-type-size('small', true)
                font-family $national
                margin 0
                padding 0
                text-align right

            .song-circles
                display flex
                flex-direction row

                .song-circle
                    width 25px
                    height 25px
                    border-radius 50%
                    border 2px solid rgba($white, 0.5)
                    margin-left 0.5rem      

    .lyric-wrapper
        width 100%
        height 100vh
        display flex
        justify-content center
        flex-direction column

        p    
            set-type-size('xxxx-large', true)
            font-family $national
            font-weight 700   

    .tap-directions
        width 100%
        display flex
        align-items center
        justify-content flex-end
        flex-direction column   

        .roundel
            width 50px
            height 50px
            border-radius 50%
            background rgba($white, 0.9)

        p
            set-type-size('small', true)
            font-family $national
            text-align center                    