<a href='#content' class='skip-to-main'>Skip to main content</a>

<header class='{{#ifEquals this 'sticky'}}is-sticky{{/ifEquals}}{{#ifEquals this 'sticky-dark'}}is-sticky is-dark{{/ifEquals}} is-visible'>
	<a href='https://pudding.cool' target='_blank' class='wordmark'>
		<img inline src='pudding/wordmark.svg'>
	</a>
	<a href='https://pudding.cool' target='_blank' class='logo'>
		<div class='roundel'>
			<img inline src='pudding/logo.svg'>
		</div>
	</a>
	 {{#ifEquals this 'sticky'}} {{> base/sticky }} {{/ifEquals}}
	 {{#ifEquals this 'sticky-dark'}} {{> base/sticky }} {{/ifEquals}}
</header>

